.NoteForm {
    flex-grow: 1;
    padding: 0 3rem;
  }
  .NoteForm .form-actions {
    padding-top: 1rem;
    margin-left: -2rem;
    display: flex;
    align-content: center;
  }
  .NoteForm button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
  }
  .NoteForm button i.fa {
    color: #999;
    font-size: 2rem;
    margin: 0;
  }
  .NoteForm form {
    border-top: 1px solid #eee;
    margin: 2.8rem auto 0;
    padding-top: 0.5rem;
    max-width: 80rem;
  }
  input[name="title"] {
    border: none;
    font-size: 200%;
    font-family: "Fauna One";
    color: #008BF8;
    font-weight: 400;
    width: 100%;
  }
  input[name="title"] {
    outline: none;
  }
  
  .RichTextEditor__root___2QXK- {
    border: none;
  }
  
  .EditorToolbar__root___3_Aqz {
    border: none;
    position: absolute;
    top: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .RichTextEditor__root___2QXK- .public-DraftEditor-content {
    height: calc(100vh - 120px);
    margin-left: -21px;
    margin-right: -21px;
  }
  
  .RichTextEditor__root___2QXK- .public-DraftEditor-content [data-contents="true"] {
    margin-left: 17px;
    margin-right: 17px;
  }
  
  /* Dropdown */
  @media screen and (max-width: 726px) {
    .Dropdown__root___3ALmx {
      display: none;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .Dropdown__root___3ALmx select {
      border: 0;
      border-left: 3px solid transparent;
    }
  }
  .Dropdown__root___3ALmx select {
    height: 26px;
    margin: 0;
    padding: 0;
  }
  .Dropdown__root___3ALmx .Dropdown__value___34Py9 {
    line-height: 23px;
    border: 0
  }